.header--title-container p {
	font-size: 1.6rem;
}

.main-exchange-container--title p {
	font-size: 1.6rem;
}

.bitcoin-img-container {
	background-image: url(./img/bitcoinbabyx3.jpg);
	height: 70vh;
}

.main-exchange-container {
	height: 708px;
}

.product-detail--title p {
	font-size: 1.6rem;
}

.product--card-body {
	font-size: 1.6rem;
}

.backgroundImg {
	background-image: url(./img/bitcoin\ vwctor-02.svg);
	background-repeat: no-repeat;
	background-size: 90vw;
	position: absolute;
	opacity: 0.5;
	width: 90vw;
	height: 670px;
}

.plans--title p {
	font-size: 1.6rem;
}
