.main-tables-container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0 auto;
}

.comission-table--icon-left {
  display: none;
}

.comission-table--icon-right {
  display: none;
}

.product-card--container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0 auto;
  justify-content: center;
}

.product-detail--card {
  margin: 16px;
}

.plans-container--slider {
  justify-content: center;
  overflow-x: unset;
}